<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        tools:targetApi="31">

        <provider
            android:name=".network.platform.InitializationContentProvider"
            android:authorities="com.grupomacro.mvno.network.network.platform.InitializationContentProvider"
            android:exported="false" />
    </application>

</manifest>
